---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* -------------------------------------------------------------------------- */

/* ----------------------------------------
 *  Typography
 * ----------------------------------------
 */ 
$base-font-family : "Roboto", Helvetica, Arial, sans-serif;
$base-font-size   : 15px;
$base-font-weight : 400;
$small-font-size  : $base-font-size * 0.75;
$base-line-height : 1.6;


/* ----------------------------------------
 *  Warna, 
 *  Dicuplik dari: http://bootflat.github.io
 * ----------------------------------------
 */
$color-aqua             : #48cfad;
$color-aqua-dark        : #37bc9b;
$color-bittersweet      : #fc6e51;
$color-bittersweet-dark : #e9573f;
$color-bluejeans        : #5d9cec;
$color-bluejeans-dark   : #4a89dc;
$color-darkgrey         : #656d78;
$color-darkgrey-dark    : #434a54;
$color-grapefruit       : #ed5565;
$color-grapefruit-dark  : #da4453;
$color-grass            : #a0d468; 
$color-grass-dark       : #8cc152;
$color-lavender         : #ac92ec;
$color-lavender-dark    : #967adc;
$color-lightgrey        : #f5f7fa;
$color-lightgrey-dark   : #e6e9ed;
$color-mediumgrey       : #ccd1d9;
$color-mediumgrey-dark  : #aab2bd;
$color-mint             : #48cfad; 
$color-mint-dark        : #37bc9b;
$color-pinkrose         : #ec87c0;
$color-pinkrose-dark    : #d770ad;
$color-sunflower        : #ffce54;
$color-sunflower-dark   : #f6bb42;

$grey-color            : #828282;
$grey-color-light      : lighten($grey-color, 25%);
$grey-color-dark       : darken($grey-color, 25%);

/* ----------------------------------------
 *  Implementasi Warna , 
 * ----------------------------------------
 */
$text-color       : $color-darkgrey-dark;
$text-bg-color    : $color-lightgrey;
$text-mute-color  : $color-mediumgrey;
$link-color       : $color-grapefruit;
$link-hover-color : $color-grapefruit-dark;
$background-color : #CCFACF;

/* ----------------------------------------
 *  Backgrounds
 * ----------------------------------------
 */
$background-image : url("../img/bright_squares.png");

/* ----------------------------------------
 *  Layouts width
 * ----------------------------------------
 */
$avatar-size     : 140px;
$spacing-unit    :  30px;
$sidebar-width   : 270px;
$content-width   : 660px;
$container-width : $content-width;
$on-palm         : 600px;
$on-laptop       : 800px;


/* -------------------------------------------------------------------------- */


/* ----------------------------------------
 *  Basic settings
 * ----------------------------------------
 */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, ul, ol, dl, figure, 
%vertical-rhythm { margin-bottom: $spacing-unit / 2; }

a:hover, 
a:active   { color: $link-hover-color; }
a          { color: $link-color; }
a, a:hover { text-decoration: none; }

button:focus,
:focus, a:focus    { outline:none !important;}
::-moz-focus-inner { border:0 !important; }

::selection {
  background : $text-color;
  color      : $text-bg-color;
}

::-moz-selection {
  background : $text-color;
  color      : $text-bg-color;
}

a::selection      { color: $link-color; }
a::-moz-selection { color: $link-color; }

body {
  background-color  : $background-color; 
  background-image  : $background-image;
  background-repeat : repeat;
  color      : $text-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size  : $base-font-size;
  line-height: $base-line-height;
  padding-top: $spacing-unit + 20px;
}

.container      { width     : $container-width; }
.navbar, .panel { box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08) }

/* ----------------------------------------
 *  Header settings
 * ----------------------------------------
 */

#main-header {
  background    : $text-color;
  border-top    : 0;
  margin        : 0 auto $spacing-unit auto;
  padding-left  : $spacing-unit/2;
  padding-right : $spacing-unit/2;
  width         : $container-width - $spacing-unit;
  transition    : all 300ms linear;
}

#main-header .navbar-brand, #main-header .navbar-nav > li a { 
  color : $link-color; 
}

#main-header.scrolled .navbar-nav > li a:hover, 
#main-header .navbar-brand, 
#main-header .navbar-nav > li.current a,
#main-header .navbar-nav > li a:hover { 
  color : $link-hover-color; 
}

#main-header .navbar-nav > li a { padding : 15px 0; }

#main-header .navbar-nav > li + li a::before {
  padding : 0 5px 0 7px;
  color   : $text-mute-color;
  content : "/ ";
}

#main-header.scrolled { background-color: $color-lightgrey; }

#main-header.scrolled li a { color: $text-mute-color; }

#main-header #right-nav   { margin-right: 15px; }
#main-header #right-nav a { color: $link-color; }

/* ----------------------------------------
 *  Sidebar settings
 * ----------------------------------------
 */
#sidebar-wrapper {
  margin-left : $content-width;
  margin-top  : $spacing-unit;
  position    : fixed;
  width       : $sidebar-width;
}

#sidebar-wrapper .sidebar {
  margin-top  : 90px;
  padding     : $spacing-unit;
  padding-top : 60px;
  text-align  : left;
  word-wrap   : break-word;
  z-index     : 888;
}

.avatar {
  background : #fff none repeat scroll 0% 0%;
  border     : 1px solid $color-lightgrey-dark;
  height     : $avatar-size;
  left       : 0;
  margin     : 0 auto;
  padding    : 4px;
  position   : absolute;
  right      : 0;
  width      : $avatar-size;
  z-index    : 999;
}

.avatar-image {
  background-image : url("../img/avatar.png");
  background-position : center center;
  background-size : cover;
  height : 100%;
}

#word-list {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 10em;
  
  span {
    display : inline-block;
    font-weight : normal;
    left : 0;
    opacity : 0;
    position : absolute;
    top :.3em;
    transition : all 0.2s ease-out;
  }

  span.hilang {
    -webkit-animation : slide-out 0.6s;
            animation : slide-out 0.6s;
  }

  span.muncul {
    -webkit-animation : slide-in 0.6s;
            animation : slide-in 0.6s;
    opacity : 1;
    top : 0;
  }
}

/* ----------------------------------------
 *  Pagination
 * ----------------------------------------
 */

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color : lighten($link-color, 10%);
  border-color     : $link-color;
  color            : $text-color;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: $color-darkgrey;
}

.pagination > li > a,
.pagination > li > span {
  color: $color-mint;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* ----------------------------------------
 *  Content
 * ----------------------------------------
 */
.page-content { 
  margin-top : $spacing-unit;
  width      : $content-width - $spacing-unit; 
}

.page-content .pagination { margin-top: 0;}

.post .post-header,
.post .post-content,
.post .post-comments {
  padding-bottom : $spacing-unit;
  padding-left   : $spacing-unit;
  padding-right  : $spacing-unit;
}
.post .post-header   { padding-top: $spacing-unit; }
.post .post-comments,
.post .post-content  { padding-top: 0; }
.post .post-content > * { overflow-x: hidden; }
.post .post-content .taglist { margin-left: 0; }
.post .post-content .taglist li { padding: 2px 0; }

.post .post-title {
  border-bottom  : 1px solid $color-mediumgrey;
  font-size      : 32px;
  margin         : 0 0 5px 0;
  padding-bottom : 5px;
}

.post .post-meta,
.post .post-meta .tag,
.post .post-footer {
  color     : $color-mediumgrey-dark;
  font-size : $small-font-size;
}

.post .related-post-list i {
  float      : left;
  margin-top : 4px;
} 

.post .related-post-list a { 
  display     : block;
  margin-left : 22px;
}

.post-meta .post-comments { padding-bottom: 0; }

.post .post-footer {
  background : $color-lightgrey none repeat scroll 0% 0%;
  border-top : 1px solid $color-lightgrey-dark;
  min-height : $spacing-unit;
  padding    : $spacing-unit/2 $spacing-unit;
}

.post .btn-social-icon {
  border: 1px solid transparent ;
  border-radius:0;
}

.post .tag .label {
  font-weight: normal;
  padding: 0.1em 0.6em;
}

// CLI
.post .cli-command {
  background-color: #222;
  border: 1px solid #000;
  color: $color-lightgrey;
}

.cli-command .cli-env { color: $color-grass; }

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
