---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* ---------------------------------------------------------------------------------------------- */

/* ----------------------------------------
 *  Typography
 * ----------------------------------------
 */ 
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;


/* ----------------------------------------
 *  Colors, 
 *  taken from: http://bootflat.github.io
 * ----------------------------------------
 */
$aqua-color            : #48cfad;
$aqua-color-dark       : #37bc9b;
$bluejeans-color       : #5d9cec;
$bluejeans-color-dark  : #4a89dc;
$grapefruit-color      : #ed5565;
$grapefruit-color-dark : #da4453;
$grass-color           : #a0d468; 
$grass-color-dark      : #8cc152;
$lavender-color        : #ac92ec;
$lavender-color-dark   : #967adc;
$mint-color            : #48cfad; 
$mint-color-dark       : #37bc9b;
$pinkrose-color        : #ec87c0;
$pinkrose-color-dark   : #d770ad;
$sunflower-color       : #ffce54;
$sunflower-color-dark  : #f6bb42;
$lightgrey-color       : #f5f7fa;
$lightgrey-color-dark  : #e6e9ed;
$mediumgrey-color      : #ccd1d9;
$mediumgrey-color-dark : #aab2bd;
$darkgrey-color        : #656d78;
$darkgrey-color-dark   : #434a54;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       #3a3a3a;
$background-color: #dedede;
$brand-color:      #2a7ae2;

/* ----------------------------------------
 *  Layouts width
 * ----------------------------------------
 */
$container-width:  800px;
$on-palm:          600px;
$on-laptop:        800px;

$sidebar-width:    240px;
$content-width:    540px;

$spacing-unit:     30px;

/* ---------------------------------------------------------------------------------------------- */


/* ----------------------------------------
 *  Basic settings
 * ----------------------------------------
 */
body {
  background: $background-color url("../img/congruent_pentagon.png") repeat fixed;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

a, a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


.container {
    margin: 0 auto;
    width: $container-width;
}

#sidebar-wrapper {
  margin-left: $content-width;
  margin-top: 30px;
  position: fixed;
  width: $sidebar-width;
}

#sidebar-wrapper .sidebar {
  margin-top: 90px;
  padding: 70px 15px 15px;
  z-index: 888;
  border: 1px solid #eee;
  background: #fff none repeat scroll 0% 0%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(178, 178, 178, 0.74);
  word-wrap: break-word;
  text-align: center;
}

.sidebar #sidebar-verticalnav {
  margin-bottom: 30px;
}

.avatar {
  border: 1px solid #eee;
  background: #fff none repeat scroll 0% 0%;
  right: 50px;
  position: absolute;
  z-index: 999;
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 4px;
}

.avatar-image {
  background-image: url("../img/avatar.png");
  background-position: center center;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

.page-content {
    padding: 5px;
    width: $content-width;
}

.page-content .post {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(178, 178, 178, 0.74);
  margin-top: 30px;
  margin-right: 20px;
}

.post .post-content,
.post .post-header {
  padding: 0 15px;
}

.post .post-title {
  font-size: 32px;
  margin: 0;
  padding-top: 15px;
}

.post .post-title a {       color: $mint-color; }

.post .post-title a:hover { 
  color: $mint-color-dark; 
  text-decoration: none;
}

.post .post-meta {
  background: #F6F6F6 none repeat scroll 0% 0%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #e1e1e1;
  color: #b1b1b1;
  font-size: $small-font-size;
  padding: 7px 15px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
