<div class="navbar-header">
  <a href="/" class="navbar-brand">
    <img alt="nsetyo.web.id" src="{{ base_url}}/img/nflat3.png" width="20px">
  </a>
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">{{ site.url | remove_first:'http://' | remove_first:'https://'}}</a></li>            
    <li><a href="">linux</a></li>            
    <li><a href="">pemrograman</a></li>            
  </ul>
  <ul class="nav navbar-nav navbar-right" id="right-nav" style="display: none;">
    <li><a class="to-top" href="">kembali ke atas <i class="fa fa-arrow-circle-up"> </i></a></li>
  </ul>
</div>