<div class="avatar img-circle"> <div class="avatar-image img-circle"></div> </div>

<div class="sidebar panel">
  I am a
  <div id="word-list">
    <span class="muncul">lazy coder,</span>
    <span class="hilang">pasionate linux user,</span>
    <span class="hilang">computer enthusiast,</span>
  </div>
  <script type="text/javascript">
    (function(){
        document.addEventListener('DOMContentLoaded', function(){
            var children = document.getElementById('word-list').children;
            var length = children.length;
            var idx = 0;
            setInterval(function(){
                children[idx].className = "hilang";
                idx = (idx + 1) % length;
                children[idx].className = "muncul";
            }, 3000);
        });
    })();
  </script>
  
  <p class="no-margin">follow me: </p>
  <div class="btn-group btn-group-justified social-btn" role="group" >
    <a class="btn btn-info" href="/" title="{{ site.title }}">
      <i class="fa fa-home"></i></a>
    <a class="btn btn-info" href="{{ site.author.facebook }}" title="Facebook">
      <i class="fa fa-facebook-official"></i> </a>
    <a class="btn btn-info" href="{{ site.author.twitter }}" title="Twitter">
      <i class="fa fa-twitter"></i></a>
    <a class="btn btn-info" href="{{ site.author.github }}" title="GitHub">
      <i class="fa fa-github"></i></a>
    <a class="btn btn-info" href="mailto:{{ site.author.email }}" title="Mail me">
      <i class="fa fa-envelope"></i></a>
  </div>
  <a class="btn btn-default btn-block" href="categories.html#linux" title="Post dengan kategori Linux">Linux/FOSS</a>
  <a class="btn btn-default btn-block" href="categories.html#programming" title="Post dengan kategori Programming">Pemrograman</a>
  <a class="btn btn-default btn-block" href="categories.html" title="Lihat seluruh kategori">Kategori Lain</a>
  <!-- <a href="http://127.0.0.1:4000/feed.xml"><i class="icon-rss icon-large"></i>  RSS</a> </div> -->
</div>
