<div class="avatar"> 
  <div class="avatar-image"></div>
</div>

<div class="sidebar">
  <div id="sidebar-verticalnav" class="btn-group btn-group-justified" role="group" >
    <a class="btn btn-info" href="#" title="{{ site.title }}"><i class="fa fa-home"></i></a>
    <a class="btn btn-info" href="#"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-info" href="#"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-info" href="#"><i class="fa fa-github"></i></a>
  </div>
<!-- 
    <a class="btn btn-block btn-default" href="http://127.0.0.1:4000/about/">FAQ</a>
    <a class="btn btn-block btn-default" href="http://127.0.0.1:4000/about/">Linux</a>
    <a class="btn btn-block btn-default" href="http://127.0.0.1:4000/about/">Python</a>
    <a class="btn btn-block btn-default" href="http://127.0.0.1:4000/about/">MORE</a> -->
    <ul class="tag-box inline">
{% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>

{% for tag in site.categories %} 
  <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
       <!--  <div class="rss">
                <a href="http://127.0.0.1:4000/feed.xml"><i class="icon-rss icon-large"></i>  RSS</a>
        </div> -->
</div>
