<!DOCTYPE html>
<html lang="id">
  {% include head.html %}
  <body>
    <div class="container">
      <aside id="sidebar-wrapper">
        {% include sidebar.html %}
      </aside>      
      <section class="page-content posts">
        {{ content }}
      </section>
      
      <!-- {% include footer.html %} -->
    </div>
    <script src="js/jquery/jquery-2.2.0.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
